@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: white;
  overflow-x: hidden;
}

input[type="text"]:focus~.input-text-light,
.input-text {
  @apply transform bg-white -translate-y-6 -translate-x-2;
}

input[type="text"]:focus~.input-text-dark,
.input-text {
  @apply transform bg-[#313131] -translate-y-6 -translate-x-2;
}

.input-text-light.input-text-active {
  background: white;
  transform: translate(-8px, -24px);
}

/* For the dark theme */
.input-text-dark.input-text-active {
  background: #313131;
  transform: translate(-8px, -24px);
}

.main-background {
  background-image: url("./assets/images/background.jpg");
  background-size: 100% 100%;
}

.main-background-black {
  background-image: url("./assets/images/tlo-black.png");
  background-size: 100% 100%;
}

.shadow-button {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.shadow-card {
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 20px,
    rgba(255, 255, 255, 0.22) 0px 15px 12px;
}

.shadow-text {
  text-shadow: #ffff 1px 0 20px;
}

.customSection-background {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

.circle-background {
  background-color: #97deff;
  background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
}

.opinion-white-background {
  background-color: rgb(237, 237, 237);
  background-image: url("https://www.transparenttextures.com/patterns/textured-stripes.png");
}

.opinion-black-background {
  background-color: rgb(39, 39, 39);
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
}

@media screen and (max-width: 767px) {
  .questions-background-mobile {
    background-image: linear-gradient(190deg,
        rgba(255, 255, 255, 0.9) 60%,
        transparent 60.3%),
      url("./assets/images/vans_mobile.jpg");
    background-size: 100% 100%;
  }

  .questions-background-mobile-black {
    background-image: linear-gradient(190deg,
        rgba(47, 47, 47, 0.9) 60%,
        transparent 60.3%),
      url("./assets/images/vans_mobile.jpg");
    background-size: 100% 100%;
  }

  .card-opinions {
    height: 280px;
    width: 15rem;
    background-color: white;
    padding-top: 20px;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    margin-top: 80px;
  }

  .swiper {
    height: 400px;
    max-width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .questions-background-black {
    background-image: linear-gradient(100deg,
        rgba(47, 47, 47, 0.9) 56%,
        transparent 56.3%),
      url("./assets/images/questionsBackground.jpg");
    background-size: 100% 100%;
  }

  .questions-background {
    background-image: linear-gradient(100deg,
        rgba(255, 255, 255, 0.9) 56%,
        transparent 56.3%),
      url("./assets/images/questionsBackground.jpg");
    background-size: 100% 100%;
  }

  .up-down-aniamation2 {
    animation: example 4s ease-in-out infinite;
  }

  .card-opinions {
    height: 300px;
    width: 15rem;
    background-color: white;
    padding-top: 20px;
    text-align: center;
    border-radius: 20px;
    margin-top: 80px;
  }

  .swiper {
    height: 400px;
    max-width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .card-opinions {
    height: 250px;
    width: 23rem;
    padding-top: 20px;
    text-align: center;
    border-radius: 20px;
    margin-top: 80px;
  }

  .swiper {
    height: 400px;
    max-width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1300px) {
  .swiper {
    height: 400px;
    max-width: 80rem;
    margin: 0 auto;
  }
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000000 !important;
}

.up-down-aniamation {
  animation: example 3s ease-in-out infinite;
}

.scale-animation {
  animation: example1 3s ease-in-out infinite;
}

@keyframes example {
  50% {
    transform: translateY(20px);
  }
}

@keyframes example1 {
  50% {
    transform: scale(1.075);
  }
}

button:disabled,
button[disabled] {
  color: #666666;
}

.contactCircle-background {
  background-image: url("https://www.transparenttextures.com/patterns/retro-intro.png");
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

.animate-fade-in-long {
  animation: fade-in 0.9s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(-10%);
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.slide-out {
  animation: slideOut 0.2s ease-in-out;
}

.slide-in {
  animation: slideIn 0.2s ease-in-out;
}

.slide-in-bottom {
  animation: slideInBottom 0.4s ease-in-out;
}

@keyframes fade-in-infoDiv {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-infoDiv {
  animation: fade-in-infoDiv 0.4s ease-out forwards;
}

@keyframes animate-sort-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.animate-sort-in {
  animation: animate-sort-in 0.4s ease-out;
}

@keyframes animateOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-opacity {
  animation: animateOpacity 0.7s ease-out;
}

.animate-opacity-fast {
  animation: animateOpacity 0.2s ease-out;
}